body{
  background-color: blue;
  font-weight: bold;
  color: #F00;
  font-size:16px;
}

h3 {
  font-family: 'arial';
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFA5F4;
}

h6 {
  letter-spacing: 16px;
  color: #48bfe4;
}
